<div class="container my-5">
    <div class="row">
    <div class="col-md-6 mb-3 mb-md-0">
      <app-todo-form></app-todo-form>
    </div>
    <div class="col-md-6">
      <app-todo-list></app-todo-list>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 mb-3 mb-md-0">
      <app-std-form></app-std-form>
    </div>
    <div class="col-md-6">
      <app-std-table></app-std-table>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5 mb-b mb-md-0">
      <app-pro-form></app-pro-form>
    </div>
    <div class="col-md-7">
      <app-pro-table></app-pro-table>
    </div>
  </div>
</div>